@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-list {
    @apply text-ellipsis font-mono font-medium m-4;
}

.menu-options {
    font-size: larger;
}

.footer {
    background-image: url("/animation_gdsc.webp");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 90px;
}

.navig {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: .2px solid whitesmoke;
    border-style: double;
    letter-spacing: 0.5px;
}

ul .nav-list {
    /* color: white; */
    font-size: 17px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;
    }
    100% {
        opacity: 100;
    }
}

@keyframes linearclr {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 200%;
    }
    100% {
        background-position: 400%;
    }
}

.container p {
    line-height: 33px;
    padding: 25px;
}

.ourlogo h3 {
    font-size: 2.3rem;
    margin-top: -30px;
    font-weight: 650;
}

.ourlogo h4 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.header-section .container {
    padding: 5rem;
}

.brandingt {
    background: linear-gradient(90deg, rgb(121, 255, 19), rgba(245, 73, 30, 0.912), rgb(245, 241, 13), rgba(11, 168, 231, 0.912));
    -webkit-background-clip: text;
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    animation: fade 3s ease-in 0s;
    animation: linearclr 10s linear infinite;
}

.herop {
    animation: fade 6s ease-in 0s;
    animation-fill-mode: forwards;
}

.header-section h1 {
    margin-top: 50px;
    text-align: center;
}

.header-section p {
    /* padding : 30px 50px 20px 0px; */
    line-height: 1.9em;
    text-align: center;
    word-spacing: 5px;
}

.navig {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: .2px solid whitesmoke;
    border-style: double;
    letter-spacing: 0.5px;
}

.branding-img {
    background-image: url("/images/gdsc-branding.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    width: 350px;
    height: 130px;
}


/* article section */

article div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
}

article {
    color: white;
    background-color: black;
}

article h1 {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article pre {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

article ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

article blockquote {
    padding: 20px;
    font-style: italic;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    color: #00ffe1;
}

article img {
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
}

article nav li {
    color: rgb(51, 133, 133);
}

article nav li:hover {
    color: rgb(0, 255, 255);
}

article nav ol {
    list-style-type: decimal;
}

article nav ol li {
    margin-left: 1.5rem;
}

.toc {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 15%;
}